<div class="container">
<div class="card mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">

    <h3>Login</h3>
    <div class="form-group">
      <label for="">User name</label>
      <input type="text" formControlName="firstName" class="form-control" placeholder="enter Your email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="enter yout password">
    </div>
    <div class="d-flex align-items-center justify-content-between mt-3">
      <span><a routerLink="/signup"> Create New Account <span class="text-success"> Sing up</span></a></span>
      <br>
      <button type="submit" class="btn btn-primary"> Login</button>
    </div>
  </form>
</div>
</div>
