<div class="container">
  <div class="card mt-5">
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">

      <h3>Sign Up</h3>
      <div class="form-group">
        <label for="">First name</label>
        <input type="text" formControlName="firstName" class="form-control" placeholder="enter Your first name">
      </div>
      <div class="form-group">
        <label for="">Last name</label>
        <input type="text" formControlName="lastName" class="form-control" placeholder="enter Your last namme">
      </div>
      <div class="form-group">
        <label for="">Email
        </label>
        <input type="text" formControlName="email" class="form-control" placeholder="enter Your email">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="enter your password">
      </div>
      <div class="form-group">
        <label for="">Phone</label>
        <input type="text" formControlName="phone" class="form-control" placeholder="enter your password">
      </div>
   <div class="d-flex align-items-center justify-content-between mt-3">
    <span><a class="text-danger text-decoration-none" routerLink="/login"> You have already Account <span class="text-success">Login</span></a></span>
    <br>
    <button type="submit" class="btn btn-primary">Sign up</button>
   </div>
    </form>
  </div>
  </div>
  <router-outlet></router-outlet>

